---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hi, Selamat berbelanja!ðŸ‘‹</div>
    <div class="text-5xl font-bold">SYARIEF NURSERY</div>
    <div class="py-2">
      <text class="text-lg">
        Produk berkualitas dengan harga yang <b>pantas!</b>
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://api.whatsapp.com/send/?phone=%2B62895333221691" target="_blank">Hubungi Admin</a>
      <a href="store" class="btn btn-outline ml-5">
        Halaman Produk ðŸ›’
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Produk Baru Ditambahkan {":"}</div>
  </div>

  <HorizontalCard
    title="Anggur"
    img="/anggur_2.jpg"
    desc="ð—¦ð—¬ð—”ð—¥ð—œð—˜ð—™ ð—¡ð—¨ð—¥ð—¦ð—˜ð—¥ð—¬ - Pemula tapi pengen coba bertani anggur? beli yang ini aja!"
    url="store/item1"
    badge="PROMO TERBATAS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Melon Manis"
    img="/melon.jpg"
    desc="ð—¦ð—¬ð—”ð—¥ð—œð—˜ð—™ ð—¡ð—¨ð—¥ð—¦ð—˜ð—¥ð—¬ - Dengan harga murah kamu udah bisa rasain segernya melon disini lho!"
    url="store/item2"
    badge="Terbaru"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Buah Tin"
    img="/tin.jpeg"
    desc="ð—¦ð—¬ð—”ð—¥ð—œð—˜ð—™ ð—¡ð—¨ð—¥ð—¦ð—˜ð—¥ð—¬ - Manfaat buah tin tidak perlu diragukan lagi, cocok untuk yang mager!"
    url="store/item3"
    badge="Terbaru"
  />
   <div class="divider my-0"></div>
   <HorizontalCard
    title="Murbei"
    img="/tin.jpeg"
    desc="ð—¦ð—¬ð—”ð—¥ð—œð—˜ð—™ ð—¡ð—¨ð—¥ð—¦ð—˜ð—¥ð—¬ - Manfaat buah tin tidak perlu diragukan lagi, cocok untuk yang mager!"
    url="store/item3"
    badge="Terbaru"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

</BaseLayout>
